datadir="/var/lib/proxysql"

admin_variables=
{
  admin_credentials="admin:admin;radmin:radmin"
  mysql_ifaces="0.0.0.0:6032"
}

mysql_variables=
{
  threads=4
  max_connections=2048
  interfaces="0.0.0.0:6033"
  monitor_username="monitor"
  monitor_password="MonitorPassw0rd!"
  monitor_connect_interval=2000
  monitor_ping_interval=2000
  monitor_read_only_interval=2000
  monitor_groupreplication_healthcheck_interval=2000
}

