[mysqld]
binlog-checksum=NONE
binlog-format=ROW
binlog-transaction-dependency-tracking=WRITESET
enforce-gtid-consistency=ON
gtid-mode=ON
log-bin=mysql-bin
log-slave-updates=ON
master-info-repository=TABLE
relay-log-info-repository=TABLE
skip-host-cache
skip-name-resolve
transaction-write-set-extraction=XXHASH64

loose-group-replication-communication-stack=XCOM
loose-group-replication-group-name=aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee
loose-group-replication-group-seeds=db1:33061,db2:33061,db3:33061,db4:33061,db5:33061
loose-group-replication-ip-allowlist=10.0.0.0/8,172.16.0.0/12,192.168.0.0/16,127.0.0.1/8
loose-group-replication-start-on-boot=ON
